:root {
  --black: #000;
  --white: #fff;
  --amber: #ffbe0bff;
  --orange-pantone: #fb5607ff;
  --rose: #ff006eff;
  --blue-violet: #8338ecff;
  --azure: #3a86ffff;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--black);
}

nav {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

a {
  color: var(--white);
  text-decoration: none;
  font-size: 72px;
  font-weight: bold;
  display: inline-flex;
  outline: none;
  border-bottom: 1px solid transparent;
  transition: color 500ms;
}

a:where(:hover, :focus) {
  color: var(--color);
  border-bottom-color: currentColor;
}
