:root {
  --black: #000;
  --white: #fff;
  --amber: #ffbe0bff;
  --orange-pantone: #fb5607ff;
  --rose: #ff006eff;
  --blue-violet: #8338ecff;
  --azure: #3a86ffff;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--black);
}

nav {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

[data-jumpy-animation] {
  color: var(--white);
  text-decoration: none;
  font-size: 72px;
  font-weight: bold;
  display: inline-flex;
  outline: none;
  border-bottom: 1px solid transparent;
  overflow: hidden;
  position: relative;
}

:where([data-jumpy-animation], [data-jumpy-animation-wrapper]) > span {
  transform: translateY(0);
  transition: transform 1s, color 200ms;
  transition-delay: calc(0.1s * var(--delay));
}

[data-jumpy-animation]:where(:hover, :focus) {
  color: var(--color);
  border-bottom-color: currentColor;
}

[data-jumpy-animation]:where(:hover, :focus)
  :is(span, [data-jumpy-animation-wrapper] span) {
  transform: translateY(-100%);
}

[data-jumpy-animation-wrapper] {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  display: inline-flex;
}
