:root {
  --black: #000;
  --white: #fff;
  --amber: #ffbe0bff;
  --orange-pantone: #fb5607ff;
  --rose: #ff006eff;
  --blue-violet: #8338ecff;
  --azure: #3a86ffff;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--black);
}

nav {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

li {
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 72px;
  font-weight: bold;
  display: inline-flex;
  outline: none;
  border-bottom: 1px solid transparent;
  overflow: hidden;
}

a:where(:hover, :focus) {
  color: var(--amber);
  border-bottom-color: var(--amber);
}

a:where(:hover, :focus) :where(span, [data-jumpy-animation-hidden-text] span) {
  animation: jumpy 1s forwards;
  animation-delay: calc(0.1s * var(--delay));
}

[data-jumpy-animation] {
  position: relative;
}

[data-jumpy-animation-hidden-text] {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
}

[data-jumpy-animation-hidden-text] span {
  transform: translateY(0);
  color: var(--rose);
  display: inline-block;
}

@keyframes jumpy {
  0% {
    transform: translateY(0);
  }
  50%,
  100% {
    transform: translateY(-100%);
  }
}
